<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movimientos</title>
</head>
<body>

<main>

    <div class="px-4 py-5 my-5 text-center">

        <h1 class="display-5 fw-bold">Sedes Prima Radix</h1>

        <div class="d-flex gap-4 justify-content-center">
            <div th:each="Empresa : ${Empresas}" class="card" style="width: 18rem;">
                <img src="img/enterpriseIcon.png" class="d-block mx-auto mb-4 py-1" height="60" alt="Icono usuario">
                <div class="card-body">
                    <h5 class="card-title" th:text="${Empresa.id_empresa}"></h5>
                    <p class="card-text" th:text="${Empresa.name}"></p>
                    <p class="card-text" th:text="${Empresa.address}"></p>
                    <p class="card-text" th:text="${Empresa.phone}"></p>

                    <div th:if="${perfilAdm.administrador} == true" class="btn-group" role="group" aria-label="Basic example">
                    <div class="d-grid gap-2 d-md-block justify-content-sm-center mx-2">
                        <form th:action="@{/enterprises/{id}(id=${Empresa.id_empresa})}" th:method="patch" >
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
                    <div class="d-grid gap-2 d-md-block justify-content-sm-center mx-2">
                        <form th:action="@{/enterprises/{id}(id=${Empresa.id_empresa})}" th:method="delete" >
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="mt-4">
            <a th:if="${perfilAdm.administrador} == true" href="enterprisesV2/new" type="button" class="btn btn-primary">Crear Sede</a>
            <a href="/" class="btn btn-secondary">Regresar</a>
                    </div>
    </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>