<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" >
    <title>Document</title>
</head>
<body>

<main>
    <div class="px-4 py-5 my-5 text-center">
        <img src="Img/primaryIcon.png" class="d-block mx-auto mb-4" height="100" alt="Icono">
        <h1 class="display-5 fw-bold">Prima Radix</h1>
        <h3 class="display-1 fw-bold"></h3>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">!Bienvenido¡ Este es el sistema de gestion de sedes, empleados y movimientos financieros del vivero Prima Radix</p>
            <p class="lead mb-4">¿A que modulo quieres ingresar el dia de hoy?</p>

            <div sec:authorize="!isAuthenticated()" >
                <a type="button" class="btn btn-success" th:href="@{/oauth2/authorization/auth0}">Identificarse</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <h3 th:text="'Bienvenido de nuevo ' + ${perfil.getName()}" ></h3>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="employeesV2" type="button" class="btn btn-primary">Empleados</a>
                <a href="enterprisesV2" class="btn btn-primary">Sedes</a>
                <a href="movementsV2" class="btn btn-primary">Movimientos</a>
                <a href="profilesV2" class="btn btn-primary">Perfiles</a>
                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-danger" th:href="@{/logout}">Salir</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>