<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<div class="px-4 py-5 my-5 text-center d-flex flex-column align-items-center">
    <form th:object="${empleadoNuevo}" th:action="@{/employees}" class="d-flex flex-column gap-3 align-items-center" method="post">
        <input th:field="*{id_empleado}" class="form-control" placeholder="id empleado"  type="number"/>
        <input th:field="*{email}" class="form-control" type="text" placeholder="email"/>
        <input th:field="*{profile}" class="form-control" type="text" placeholder="perfil"/>
        <input th:field="*{role}" class="form-control" type="text" placeholder="rol"/>
        <input th:field="*{enterprise}" class="form-control" type="text" placeholder="Sede"/>
        <input th:field="*{transactions}" class="form-control" type="text" placeholder="transacciones"/>
        <input th:field="*{createdAt}" class="form-control" type="date" />
        <input th:field="*{updatedAt}" class="form-control" type="date" />

        <div>
            <button class="btn btn-primary">Crear</button>
            <a href="/employeesV2" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>